<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>

<button pButton type="button" label="Ajouter" class="ui-button-raised ui-button-success mb-2"
        (click)="create()"></button>

<p-table [value]="fixPhones">
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 3em">#</th>
      <th>Matricule</th>
      <th>Marque</th>
      <th>Modèle</th>
      <th>Plafond</th>
      <th>Numéro</th>
      <th>Categorie</th>
      <th>Situation</th>
      <th>Actions</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item>
    <tr>
      <td>{{item.id }} </td>
      <td>{{item.registrationNumber}}</td>
      <td>{{item.brand}}</td>
      <td>{{item.model}}</td>
      <td>{{item.ceiling}}</td>
      <td>{{item.number}}</td>
      <td>{{item.category?.name}}</td>
      <td>{{item.state.name}}</td>
      <td>
        <button pButton type="button" label="Editer" class="ui-button-raised ui-button-warning mr-1"
                (click)="edit(item.id)"></button>
        <button pButton type="button" label="Supprimer" class="ui-button-raised ui-button-danger"
                (click)="delete(item.id)"></button>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-paginator [rows]="size" [totalRecords]="totalElements" (onPageChange)="paginate($event)"></p-paginator>
