<p-table [value]="employees" >
  <ng-template pTemplate="header">
    <tr>
      <th>Nom Complete</th>
      <th>Matricule</th>
      <th>CIN</th>
      <th>Email</th>
      <th>Telephone</th>
      <th>Fonction</th>
      <th>Departement</th>
      <th>Editer</th>
      <th>Supprimer</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-employee>
    <tr>
      <td>{{employee.firstName+" "+employee.lastName}} </td>
      <td>{{employee.registrationNumber}}</td>
      <td>{{employee.cin}}</td>
      <td>{{employee.email}}</td>
      <td>{{employee.tel}}</td>
      <td>{{employee.function.name}}</td>
      <td>{{employee.department.name}}</td>
      <td>
        <button pButton type="button" label="Editer" class="ui-button-raised ui-button-warning" (click)="edit(employee.id)"></button>
      </td>
      <td>
        <button pButton type="button" label="Supprimer" class="ui-button-raised ui-button-danger" (click)="delete(employee.id)"></button>
      </td>
    </tr>
  </ng-template>
</p-table>


<p-paginator [rows]="size" [totalRecords]="totalElements" (onPageChange)="paginate($event)"></p-paginator>
