<p-dialog header="Suppression annulée" [(visible)]="displayError" [modal]="true" [responsive]="true" [style]="{width: '350px', minWidth: '200px'}" [minY]="70" [baseZIndex]="10000">
  <p>Impossible de supprimer cet utilisateur car il des déjà des demandes ou bien des affectations!</p>
  <p-footer>
    <button type="button" pButton icon="pi pi-check" (click)="displayError=false" label="Ok"></button>
  </p-footer>
</p-dialog>

<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>

<button pButton type="button" label="Ajouter" class="ui-button-raised ui-button-success mb-2"
        (click)="create()"></button>

<p-table [value]="employees">
  <ng-template pTemplate="header">
    <tr>
      <th>Nom Complet</th>
      <th>Matricule</th>
      <th>CIN</th>
      <th>Email</th>
      <th>Tel</th>
      <th>Fonction</th>
      <th>Département</th>
      <th>Actions</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-employee>
    <tr>
      <td>{{employee.firstName + " " + employee.lastName}} </td>
      <td>{{employee.registrationNumber}}</td>
      <td>{{employee.cin}}</td>
      <td>{{employee.email}}</td>
      <td>{{employee.tel}}</td>
      <td>{{employee.function.name}}</td>
      <td>{{employee.department.name}}</td>
      <td>
        <button pButton type="button" label="Historique" class="ui-button-raised ui-button-success"
                  (click)="showHistory(employee.id)"></button>
        <button pButton type="button" label="Editer" class="ui-button-raised ui-button-warning"
                (click)="edit(employee.id)"></button>
        <button pButton type="button" label="Supprimer" class="ui-button-raised ui-button-danger"
                (click)="delete(employee.id)">
        </button>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-paginator [rows]="size" [totalRecords]="totalElements" (onPageChange)="paginate($event)"></p-paginator>
