<span class="ui-float-label">
    <input id="email" type="text" name="email" [(ngModel)]="email" size="30" pInputText>
    <label for="email">email</label>
    <input id="password" type="password" name="password" [(ngModel)]="password" size="30" pInputText>
    <label for="password">password</label>
</span>

<button pButton type="button" label="Enregistrer" class="ui-button-raised" (click)="auth()"></button>
<button pButton type="button" label="logout" class="ui-button-raised" (click)="logout()"></button>
