<span class="ui-float-label">
    <input id="email" type="text" name="email" [(ngModel)]="email" size="30" pInputText>
    <label for="email">email</label>
</span>
<span class="ui-float-label">
  <input id="password" type="password" name="password" [(ngModel)]="password" size="30" pInputText>
  <label for="password">password</label>
</span>
<span class="ui-float-label">
  <a routerLink="/user/forgot-password"> Mot de passe oublié?</a>
</span>
<span class="ui-float-label">
  <button pButton type="button" label="S'authentifier" class="ui-button-raised" (click)="auth()"></button>
</span>
