
<span class="ui-float-label">
    <input id="oldPass" type="password" name="oldPass" [(ngModel)]="changePasswordFormat.oldPass" size="30" pInputText>
    <label for="oldPass">Password</label>
</span>
<span class="ui-float-label">
  <input id="newPass" type="password" name="newPass" [(ngModel)]="changePasswordFormat.newPass" size="30" pInputText>
  <label for="newPass">Nouveau mot de passe</label>
</span>
<span class="ui-float-label">
  <input id="confPass" type="password" name="confPass" [(ngModel)]="changePasswordFormat.confPass" size="30" pInputText>
  <label for="confPass">Confirmer le mot de passe</label>
</span>

<button pButton type="button" label="Enregistrer" class="ui-button-raised" (click)="save()"></button>
