<p-table [value]="categories" #dt>
  <ng-template pTemplate="caption">
    <div class="ui-helper-clearfix" style="text-align: left">
      <button type="button" pButton icon="pi pi-file-excel" iconPos="left" label="EXCEL" (click)="exportExcel()" style="margin-right: 0.5em;" class="ui-button-success"></button>
      <button type="button" pButton icon="pi pi-file-pdf" iconPos="left" label="PDF" (click)="exportPdf()" class="ui-button-warning"></button>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>Nom</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-category>
    <tr>
      <td>{{category.name}} </td>
    </tr>
  </ng-template>
</p-table>

