<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">

  <div class="ui-grid-row">
    <div class="ui-grid-col-2">Date de debut</div>
    <div class="ui-grid-col-6">
      <p-calendar [(ngModel)]="request.startDate" [showTime]="true" [minDate]="sysDate"></p-calendar>
    </div>
  </div>
  <div class="ui-grid-row">
    <div class="ui-grid-col-2">Date de fin</div>
    <div class="ui-grid-col-6">
      <p-calendar [(ngModel)]="request.endDate" [showTime]="true" [minDate]="request.startDate"></p-calendar>
    </div>
  </div>
  <div class="ui-grid-row">
    <div class="ui-grid-col-2">Categorie</div>
    <div class="ui-grid-col-6">
      <p-autoComplete id="category" placeholder="Choisir une catégorie" [(ngModel)]="request.category" [suggestions]="categories" [size]="26" field="name"
                      (completeMethod)="searchForCategories($event)" [dropdown]="true"></p-autoComplete>
    </div>
  </div>
  <div class="ui-grid-row">
    <div class="ui-grid-col-2">Raison</div>
    <div class="ui-grid-col-6">
      <input id="brand" type="text" [(ngModel)]="request.reason" size="30" pInputText/>
    </div>
  </div>
</div>
<button pButton type="button" label="Enregistrer" class="ui-button-raised" (click)="save()"></button>

