<p-dialog header="Suppression annulée" [(visible)]="displayError" [modal]="true" [responsive]="true" [style]="{width: '350px', minWidth: '200px'}" [minY]="70" [baseZIndex]="10000">
  <p>Impossible de supprimer cette catégorie car elle contient des outils!</p>
  <p-footer>
    <button type="button" pButton icon="pi pi-check" (click)="displayError=false" label="Ok"></button>
  </p-footer>
</p-dialog>

<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>

<button pButton type="button" label="Ajouter" class="ui-button-raised ui-button-success mb-2"
        (click)="create()"></button>

<p-table [value]="categories">
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 3em">#</th>
      <th>Designation</th>
      <th>Actions</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-cat>
    <tr>
      <td>{{cat.id}}</td>
      <td>{{cat.name}}</td>
      <td>
        <button pButton type="button" label="Editer" class="ui-button-raised ui-button-warning mr-1"
                (click)="edit(cat.id)"></button>
        <button pButton type="button" label="Supprimer" class="ui-button-raised ui-button-danger"
                (click)="delete(cat.id)"></button>
      </td>
    </tr>
  </ng-template>
</p-table>
