<p-table [value]="categories">
  <ng-template pTemplate="header">
    <tr>
      <th>#</th>
      <th>Designation</th>
      <th>Editer</th>
      <th>Supprimer</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-cat>
    <tr>
      <td>{{cat.id}}</td>
      <td>{{cat.name}}</td>
      <td>
        <button pButton type="button" label="Editer" class="ui-button-raised ui-button-warning"
                (click)="edit(cat.id)"></button>
      </td>
      <td>
        <button pButton type="button" label="Supprimer" class="ui-button-raised ui-button-danger"
                (click)="delete(cat.id)"></button>
      </td>
    </tr>
  </ng-template>
</p-table>
