<span class="ui-float-label">
    <input id="brand" type="text" name="brand" [(ngModel)]="fixPhone.brand" size="30" pInputText>
    <label for="brand">Marque</label>
</span>

<span class="ui-float-label">
    <input id="registrationNumber" type="text" name="registrationNumber" [(ngModel)]="fixPhone.registrationNumber"
           size="30" pInputText>
    <label for="registrationNumber">Matricule</label>
</span>

<span class="ui-float-label">
    <input id="model" type="text" name="model" [(ngModel)]="fixPhone.model" size="30" pInputText>
    <label for="model">Module</label>
</span>
<span class="ui-float-label">
    <input id="ceiling" type="text" name="ceiling" [(ngModel)]="fixPhone.ceiling" size="30" pInputText>
    <label for="ceiling">Plafond</label>
</span>

<span class="ui-float-label">
    <input id="number" type="text" name="number" [(ngModel)]="fixPhone.number" size="30" pInputText>
    <label for="number">Numero</label>
</span>
<span class="ui-float-label">
<p-dropdown id="states" optionLabel="name" [options]="states" [(ngModel)]="fixPhone.state"></p-dropdown>
</span>

<span class="ui-float-label">
<p-dropdown id="categories" optionLabel="name" [options]="categories" [(ngModel)]="fixPhone.category"></p-dropdown>
</span>


<button pButton type="button" label="Enregistrer" class="ui-button-raised" (click)="update()"></button>

