<form [formGroup]="form" (ngSubmit)="update()">
  <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
    <div class="ui-grid-row">
      <div class="ui-grid-col-2">Prénom</div>
      <div class="ui-grid-col-6">
        <input id="firstName" type="text" formControlName="firstName" pInputText/>
      </div>
      <div class="ui-grid-col-4">
        <p-message severity="error" text="Ce champ est requis"
                   *ngIf="!form.controls['firstName'].valid&&form.controls['firstName'].dirty"></p-message>
      </div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-2">Nom</div>
      <div class="ui-grid-col-6">
        <input id="lastName" type="text" formControlName="lastName" pInputText/>
      </div>
      <div class="ui-grid-col-4">
        <p-message severity="error" text="Ce champ est requis"
                   *ngIf="!form.controls['lastName'].valid&&form.controls['lastName'].dirty"></p-message>
      </div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-2">Matricule</div>
      <div class="ui-grid-col-6">
        <input id="registrationNumber" type="text" formControlName="registrationNumber" pInputText/>
      </div>
      <div class="ui-grid-col-4">
        <p-message severity="error" text="Ce champ est requis"
                   *ngIf="!form.controls['registrationNumber'].valid&&form.controls['registrationNumber'].dirty"></p-message>
      </div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-2">CIN</div>
      <div class="ui-grid-col-6">
        <input id="cin" type="text" formControlName="cin" pInputText/>
      </div>
      <div class="ui-grid-col-4">
        <p-message severity="error" text="Ce champ est requis"
                   *ngIf="!form.controls['cin'].valid&&form.controls['cin'].dirty"></p-message>
      </div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-2">Email</div>
      <div class="ui-grid-col-6">
        <input id="email" type="email" formControlName="email" pInputText/>
      </div>
      <div class="ui-grid-col-4">
        <p-message severity="error" text="Ce champ est requis"
                   *ngIf="!form.controls['email'].valid&&form.controls['email'].dirty"></p-message>
      </div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-2">Tel</div>
      <div class="ui-grid-col-6">
        <input id="tel" type="email" formControlName="tel" pInputText/>
      </div>
      <div class="ui-grid-col-4">
        <p-message severity="error" text="Ce champ est requis"
                   *ngIf="!form.controls['tel'].valid&&form.controls['tel'].dirty"></p-message>
      </div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-2">Fonction</div>
      <div class="ui-grid-col-6">
        <p-dropdown id="functions" placeholder="Choisir une fonction" required optionLabel="name"
                    [options]="functions"
                    formControlName="function"></p-dropdown>
      </div>
      <div class="ui-grid-col-4">
        <p-message severity="error" text="Ce champ est requis"
                   *ngIf="!form.controls['function'].valid&&form.controls['function'].dirty"></p-message>
      </div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-2">Départment</div>
      <div class="ui-grid-col-6">
        <p-dropdown id="departments" placeholder="Choisir une departement" required optionLabel="name"
                    [options]="departments"
                    formControlName="department"></p-dropdown>
      </div>
      <div class="ui-grid-col-4">
        <p-message severity="error" text="Ce champ est requis"
                   *ngIf="!form.controls['department'].valid&&form.controls['department'].dirty"></p-message>
      </div>
    </div>

  </div>

  <div class="ui-grid-row mt-4">
    <div class="ui-grid-col-8">
      <button pButton type="submit" label="Enregistrer" class="ui-button-raised ml-2" [disabled]="!form.valid"></button>
    </div>
  </div>

</form>
