<div class="row">
  <div class="col-md-4">
    <p-card header="Nombre d'outils">
      <span class="stat-val">{{ statistics?.toolsCount }}</span>
    </p-card>
  </div>
  <div class="col-md-4">
    <p-card header="Nombre d'employés">
      <span class="stat-val">{{ statistics?.usersCount }}</span>
    </p-card>
  </div>
  <div class="col-md-4">
    <p-card header="Demandes non traités">
      <span class="stat-val">{{ statistics?.noneEvaluatedRequestsCount }}</span>
    </p-card>
  </div>
</div>

<app-categories-not-available></app-categories-not-available>
