<!--<p-table #dt [value]="categories" [paginator]="true" [rows]="10">-->
<!--  <ng-template pTemplate="caption">-->
<!--    <div style="text-align: right">-->
<!--      <i class="fa fa-search" style="margin:4px 4px 0 0"></i>-->
<!--      <p-autoComplete id="category" [(ngModel)]="category" [suggestions]="categories" [size]="26" field="name"-->
<!--                      (completeMethod)="searchForCategories($event)" (onSelect)="reload()"-->
<!--                      )[dropdown]="true"></p-autoComplete>-->
<!--      <label for="category">Categorie</label>-->
<!--    </div>-->
<!--  </ng-template>-->
<!--  <ng-template pTemplate="header">-->
<!--    <tr>-->
<!--    </tr>-->
<!--  </ng-template>-->
<!--  <ng-template pTemplate="body" let-rowData let-items>-->
<!--    <tr [pSelectableRow]="rowData">-->
<!--      <td *ngFor="let col of items">-->
<!--        {{rowData.}}-->
<!--      </td>-->
<!--    </tr>-->
<!--  </ng-template>-->
<!--</p-table>-->
